{% from "libriary/glyphicon_macro.html" import build_glyphicons %}
{% set books_authors_url = url_for('books_authors_api') %}
<table class="table table-bordered table-hover" style="margin-left: 30px;">
    <thead>
        <tr>
            <th class="col-md-5">Book name</th>
            <th class="col-md-5">Author names</th>
            {% if current_user.has_role('admin') %}
                <th class="col-md-1"></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        <tr style="display: none;">
            <td>    
                {{ form.book }}
            </td>
            <td>
                <ul>
                    <li>{{ form.author }}</li>
                </ul>
            </td>
            <td>
                <a class="button-plus button-add-new" href="#">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>                
            </td>
        </tr>
        {% for book in objects %}
            {% if book.authors %}
            <tr>
                <td id="id_books_{{ book.id }}">
                    {{ build_glyphicons(book, books_authors_url, current_user) }}
                </td>
                <td>
                    <ul>
                    {% for q in book.authors %}
                        {% if q.author %}
                        <li id="id_authors_{{ q.author.id }}">
                            {{ build_glyphicons(q.author, books_authors_url, current_user) }}
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </td>
                {% if current_user.has_role('admin') %}
                <td>
                    <a class="button-plus button-add-new" href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>     
                </td>
                {% endif %}
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>