{% macro build_new_object(type, api_url) %}
    <a class="button-plus button-add-new-type" href="#">
        <span class="glyphicon glyphicon-plus"></span>
        <span>add new {{ type }}</span>
    </a>
    <div class="for-status-result"></div>
    <form id="form_create_{{ type }}" class="form_create" style="display:none;">
        <input type="hidden" value="{{ api_url }}" />
        <input type="text" name="{{ type }}" placeholder="name"/>
        <input class="btn btn-success" value="Create {{ type }}"/>
    </form>
{% endmacro %}