<div class="row row-edit">
    <div class="col-md-12">
        <span>edit/delete: </span>
    </div>
</div>
<div class="row row-edit">
    <div class="col-md-12">
        <select name="type">
            <option disabled selected>------</option>
            <option>Book</option>
            <option>Author</option>
        </select>
    </div>
</div>
<div class="row row-edit">
    <div class="col-md-12">
        {{ form.book(class_='hidden_input') }}
        {{ form.author(class_='hidden_input') }}
        <a class="menu-edit button-edit" href="#" style="display: none;">
            <span class="glyphicon glyphicon-pencil">Edit</span>
        </a>
        <a class="menu-edit button-delete" href="#" style="display: none;">
            <span class="glyphicon glyphicon-remove">Remove</span>
        </a>
        <span class="menu-edit q-delete" style="display: none;">Confirm?</span>
        <a class="menu-edit button-delete-confirm" href="#" style="display: none;">
            <span class="glyphicon glyphicon-ok">Yes</span>
        </a>
        <a class="menu-edit button-delete-decline" href="#" style="display: none;">
            <span class="glyphicon glyphicon-repeat">Return back</span>
        </a>
    </div>
</div>
<div class="row row-edit">
    <div class="col-md-12">
        <span class='menu-edit for-status-result'></span>
        <input type="text" name="edit_name" placeholder="name" style="display: none;"/>
        <a class="menu-edit button-edit-confirm" href="#" style="display: none;">
            <span class="glyphicon glyphicon-ok">Submit</span>
        </a>
        <a class="menu-edit button-edit-decline" href="#" style="display: none;">
            <span class="glyphicon glyphicon-repeat">Return back</span>
        </a>
    </div>
</div>