{% macro build_glyphicons(obj, api_url, current_user) %}
    <span class="name">{{ obj.name }}</span>
    {% if current_user.has_role('admin') %}
        <a class="button-delete" href="#">
            <span class="glyphicon glyphicon-remove"></span>
        </a>
        <span class="q-delete" style="display:none;">Are you sure?</span>
        <a class="button-delete-confirm" href="#" style="display:none;">
            <span class="glyphicon glyphicon-ok"></span>
        </a>
        <a class="button-delete-decline" href="#" style="display:none;">
            <span class="glyphicon glyphicon-repeat"></span>
        </a>
        <span class='for-status-result'></span>
    {% endif %}
{% endmacro %}