{% extends "base.html" %}
{% set login_url = url_for('login_page') %}

{% from "libriary/forms/_login_bootstrap_form.html" import render_field %}

{% block title %}Login{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libriary/css/login.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="Absolute-Center is-Responsive">
            <div id="logo-container"></div>
            <div class="col-sm-12 col-md-10 col-md-offset-1">
                <form action="{{ login_url }}" method="POST" id="loginForm">
                    {{ render_field(form.username, addon_class='glyphicon-user') }}
                    {{ render_field(form.password, addon_class='glyphicon-lock') }}
                    <div class="form-group">
                        <button type="submit" class="btn btn-def btn-block">Login</button>
                    </div>
                </form>        
            </div>  
        </div>    
    </div>
</div>
{% endblock %}