{% extends "base.html" %}
{% set main_page_url = url_for('main_page') %}
{% set search_url = url_for('search') %}
{% set books_url = url_for('books_api') %}
{% set authors_url = url_for('authors_api') %}
{% set books_authors_url = url_for('books_authors_api') %}
{% set rel_create_url = url_for('rel_create') %}
{% set logout_url = url_for('logout') %}
{% set login_url = url_for('login_page') %}
{% set user_role = current_user.role %}


{% from "libriary/forms/_formhelpers.html" import render_field %}
{% from "libriary/create_object_macro.html" import build_new_object %}

{% block title %}Online Libriary{% endblock %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='libriary/css/object_list.css') }}">
<script type="text/javascript">
var user_role = '{{ user_role }}',
    icons_block = "<a class='button-delete' href='#'>" +
                      "<span class='glyphicon glyphicon-remove'></span>" +
                  "</a>" +
                  "<span class='q-delete' style='display:none;'>Are you sure?</span>" +
                  "<a class='button-delete-confirm' href='#' style='display:none;'>" +
                      "<span class='glyphicon glyphicon-ok'></span>" +
                  "</a>" +
                  "<a class='button-delete-decline' href='#' style='display:none;'>" +
                      "<span class='glyphicon glyphicon-repeat'></span>" +
                  "</a>",
    current_user = {
        has_permissions: {% if current_user.has_role('admin') %}true{% else %}false{% endif %},
        is_authenticated: {% if current_user.is_authenticated %}true{% else %}false{% endif %}
    },
    CONFIG = {
        main_page_url: "{{ main_page_url }}",
        search_url: "{{ search_url }}",
        books_url: "{{ books_url }}",
        authors_url: "{{ authors_url }}",
        books_authors_url: "{{ books_authors_url }}",
        rel_create_url: "{{ rel_create_url }}"
    },
    BOOKS = {};
</script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-highlight/jquery.highlight.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libriary/js/utils.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libriary/js/searcher.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libriary/js/edit_obj.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='libriary/js/relat_creation.js') }}"></script>
{% endblock %}

{% block content %}
<div class="{% if current_user.has_role('admin') %}container-fluid{% else %}container{% endif %}">
    <div class="row">
        <div class="{% if current_user.has_role('admin') %}col-md-6{% else %}col-md-9{% endif %}">
            <div class="row">
                <div class="col-md-4">
                    <form id="search_form">
                        <span>Filter by book/author:</span>
                        <input type="text" placeholder="name" />
                    </form>
                </div>
                {% if current_user.has_role('admin') %}
                <div class="col-md-4">
                        <span>Icons map:</span>
                        <ul class="icons-map">
                            <li><span class="glyphicon glyphicon-pencil"></span> - <span>Edit</span></li>
                            <li><span class="glyphicon glyphicon-ok"></span> - <span>Accept</span></li>
                            <li><span class="glyphicon glyphicon-remove"></span> - <span>Remove</span></li>
                            <li><span class="glyphicon glyphicon-repeat"></span> - <span>Revert</span></li>
                            <li></li>
                        </ul>                        
                </div>
                {% endif %}
            </div>
            {% if current_user.has_role('admin') %}
            <div class="row">
                <div class="col-md-6">
                    <a class="button-plus button-add-new-relat" href="#">
                        <span class="glyphicon glyphicon-plus"></span>
                        <span>add new relation</span>
                    </a>
                    <button class="btn btn-success button-create-rel" style="display: none; margin-left: 20px;">Submit</button>
                </div>
            </div>
            {% endif %}
            <div class="row">
                {% include "libriary/book_authors_table.html" %}
            </div>
        </div>
        <div class="{% if current_user.has_role('admin') %}col-md-6{% else %}col-md-3{% endif %}">
            <div class="row">
                {% if current_user.has_role('admin') %}
                <div class="col-md-3">{{ build_new_object('book', books_url) }}</div>
                <div class="col-md-3">{{ build_new_object('author', authors_url) }}</div>
                <div class="col-md-3 edit-right">
                    {% include "libriary/edit_menu.html" %}
                </div>
                {% endif %}
                <div class="{% if current_user.has_role('admin') %}col-md-3{% else %}col-md-4 col-md-offset-8{% endif %}">
                    {% if current_user.is_authenticated %}
                        <a href="{{ logout_url }}">Log out</a>
                    {% else %}
                        <a href="{{ login_url }}">Log in</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar-fixed-bottom row-fluid">
      <div class="navbar-inner">
        <div class="container">
            <div class="row customize-answer" style="display: none;">
                <div class="col-md-12 text-center show-response-answer"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
