<html>
<head>
    {% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery/dist/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    {% block extra_head %}{% endblock %}
</head>
<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">{% block footer %}{% endblock %}</div>
</body>
</html>