#content {
    margin-top: 20px;
}
.glyphicon-pencil {
    color: #CC6600;
}
.glyphicon-ok, .glyphicon-plus {
    color: #33CC00;
}
.glyphicon-remove, .glyphicon-minus {
    color: #FF0000;
}
.book-author input[type="text"] {
    padding: 3px;
    border: solid 1px #c9c9c9;
    transition: border 0.3s;
}
.book-author input[type="text"]:focus,
.book-author input[type="text"].focus {
    border: solid 5px #969696;
}
ul {
    list-style-type: none;
}
.book-author li, .icons-map li {
    float: left;
    margin-left: 20px;
}
.icons-map {
    margin-left: -50px;
}
.form_create input {
    float: left;
    width: 120px;
}
.row {
    margin-bottom: 50px;
}
.row-edit {
    margin-bottom: 10px;
    margin-right: 170px;
}
.left {
    float: left;
}
.hidden_input {
    display: none;
}
.customize-answer {
    margin-top: -45px;
    position: fixed;
    width: 100%;
}
.show-response-answer {
    line-height: 45px;
}
span .highlight {
    background-color: yellow;
}
.navbar-fixed-bottom {
    width: 100;
}