{% macro render_field(field, addon_class) %}
<div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon {{ addon_class }}"></i></span>
    {{ field(class_='form-control', **kwargs)|safe }}
</div>
{% if field.errors %}
    <ul class="text-danger">
    {% for error in field.errors %}
        <li>{{ error }}</li>
    {% endfor %}
    </ul>
{% endif %}
{% endmacro %}